@model IEnumerable<Testshop.Models.User>
@{
    ViewBag.Title = "AfterLogin";
}

<h2>AfterLogin</h2>
@if (Session["UserID"] !=null)
{
    <div>
        <h2>Welcome : <a href="#">@Session["UserName"]</a></h2><br />
        <div class="thumbnail">
            <img class="img-responsive" src="~/Images/Profile/@Session["UserImg"]" height="100" width="100"/>
        </div>
        <div>
            <h1><a href="/Register/Data">Show DATA</a></h1>
        </div>
        <a href="/Register/Logout">Logout</a>
    </div>
}
